.btnPage{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 3em  $color-pink-1 inset;
    color: #fff;
    font-size: $fs-1 + 0.5;
    font-weight: $fw-5;
    padding: $pd-2 - 1  $pd-2 + 2;
    border-radius: 50px;
    border: solid .5px $color-pink-1;
    background-color: #fff;
    transition: all 300ms ease;
}
.course__right .btnPage{
    margin: 40px 0 20px 0;
    width: 40%;

}
html .btnPage:hover {
    text-decoration: none;
    color: $color-pink-1;
    box-shadow: $color-pink-1 0 0 1px inset;
}