//color
$color-dark-1: #181818;
$color-dark-2: #191919;
$color-white-1: #fff;
$color-pink-1: #b61984;
$color-violet: #dcd1f3;

//font-weight
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

//font-size
$fs-1: 13px;
$fs-2: 15px;
$fs-3: 20px;
$fs-4: 37px;

//Padding
$pd-1: 6px;
$pd-2: 14px;
$pd-3: 21px;
$pd-4: 33px;

//Line hieght
$lh-1: 12px;
$lh-4: 45px;

// Border-radius
$brd-1: 10px;
$brd-2: 20px;
$brd-3: 50px;


//Transition
$ts: all 300ms ease;
$ts-2: all 500ms ease;