//color
$color-dark-1: #181818;
$color-dark-2: #191919;
$color-white-1: #fff;
$color-pink-1: #b61984;
$color-violet: #dcd1f3;

//font-weight
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

//font-size
$fs-0: 0.8125rem;
$fs-1: 1rem;
$fs-2: 1.453rem;

//Padding
$pd-0: 0.5rem;
$pd-1: 1rem;
$pd-2: 1.3rem;
$pd-3: 1.8rem;
$pd-4: 3.5rem;
$pd-5: 4rem;

//Line hieght
$lh-1: 1.2;
$lh-2: 1.8;


// Border-radius
$brd-1: 10px;
$brd-2: 20px;
$brd-3: 50px;


//Transition
$ts: all 300ms ease;
$ts-2: all 500ms ease;