#footer {
    width: 100%;
    background-image: url(../image/footer_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $color-white-1;
    padding: 149px 0;
    .card-title-lg {
        color: $color-white-1;
        font-family: "Montserrat", sans-serif;
    }
    .row {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }
    .footer__content {
        margin-top: 20px;
    }
    i:hover {
        color: $color-dark-2;
    }
    .btnPage {
        font-family: "Montserrat", sans-serif;
        border: solid 1px #fff;
        box-shadow: 0 0 0 3em #fff inset;
        width: 100%;
        color: $color-pink-1;
        padding: 14px 0;
        &:hover {
            @include styleHoverBTN($color-white-1, $color-white-1 0 0 1px inset);
            background-color: $color-pink-1;
        }
    }
}
#footer li span,
#footer a {
    @include styleText($color-white-1, $fs-0, none, $lh-2 + 0.2);
}

.footer__line li {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer__line a:hover{
    opacity: 0.8;
}
#footer {
    .fa-twitter,
    .fa-facebook-f,
    .fa-instagram,
    .fa-youtube {
        color: #fff;
        padding-top: 20px;
    }
}
.footer__content-icon li{
    padding-bottom: 3px;
}
.footer__input {
    width: 100%;
    outline: none;
    border-radius: 50px;
    border: 1px solid $color-pink-1;
    transition: $ts;
    text-align: center;
    color: $color-white-1;
    font-size: 13px;
    @include styleButton(transparent, none, 12px, 0);
    &:focus {
        border: solid 1px #fff;
    }
    &::placeholder {
        color: $color-white-1;
        text-align: center;
    }
}
.footer__content .btnPage {
    margin-top: 1rem;
}
#footer {
    .container{
        padding: 0;
    }
    .row{
        margin-left: -30px;
        margin-right: -30px;
    }
    .footer__item{
        padding: 0 40px 28px 40px;
    }
}
// reponsive
@media (min-width: 0px) {
    #footer {
        padding-top: 6rem;
    }
    #footer .footer__item{
        padding: 0 60px 28px 60px;
    }
    #footer li span {
        font-size: 0.75rem;
        line-height: 2.5;
    }
}
@media (min-width: 480px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
    #footer .footer__item{
        padding: 0 40px 28px 40px;
    }
}