#footer {
    width: 100%;
    background-image: url(../../image/footer_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: scroll;
    color: $color-white-1;
    padding: 149px 0;
    .card-title-lg {
        color: $color-white-1;
    }
    .row {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }
    .footer__content {
        margin-top: 20px;
    }
    i:hover {
        color: $color-dark-2;
    }
    .btnPage {
        font-family: "Montserrat", sans-serif;
        border: solid 1px #fff;
        box-shadow: 0 0 0 3em #fff inset;
        width: 100%;
        color: $color-pink-1;
        &:hover {
            @include styleHoverBTN($color-white-1, $color-white-1 0 0 1px inset);
            background-color: $color-pink-1;
        }
    }
}
#footer i,
#footer a {
    @include styleText($color-white-1, $fs-1, none, $lh-2);
}

.footer__line li {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer__input{
    width: 100%;
    outline: none;
    border-radius: 50px;
    border: 1px solid $color-pink-1;
    transition: $ts;
    text-align: center;
    color: $color-white-1;
    @include styleButton(transparent,none,12px,0);
    &:focus {
        border: solid 1px #fff;
    }
    &::placeholder {
        color: $color-white-1;
        text-align: center;
    }
}
.footer__content .btnPage{
    margin-top: 1rem;
}