.navbar,
.navbar-brand {
    padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding-left: $pd-1;
    padding-right: $pd-4 - 3;
    transition: $ts;
    &:hover::after {
        transform: scale(1.1);
    }
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: $color-dark-1;
    font-weight: $fw-6;
    font-size: $fs-1;
    position: relative;
    transition: $ts;
}
.fa-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    padding: 13px 0 13px 8px;
    font-size: $fs-1 + 0.225;
    color: $color-dark-1;
    transition: $ts;
    &:hover {
        color: $color-pink-1;
    }
}
//Reponsive
@media screen and(min-width:0) {
    #header {
        background-color: $color-white-1;
        margin: 0;
    }
    .navbar {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .navbar-light .navbar-toggler-icon {
        height: 48px;
        width: 35px;
    }
    .navbar-toggler {
        padding: 0 0.5em 0 0;
    }
    .navbar-brand img {
        height: 48px;
    }
    .header__contact {
        padding-top: 15px;
    }
    .header__social-icon {
        padding-top: 10px;
    }
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: $color-pink-1;
    }
}
@media screen and(min-width:1024px) {
    #header {
        margin: auto;
        background-color: transparent;
    }
    .header__contact {
        display: flex;
    }
}
@media screen and(min-width:1200px) {
    .navbar {
        flex-direction: row;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        color: $color-dark-1;
        text-align: center;
    }
    .nav-item {
        width: 95px;
    }
    .nav-link {
        font-weight: $fw-6;
        position: relative;
    }

    .nav-link::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        background-color: $color-pink-1;
        height: 0.5rem;
        width: 0.5rem;
        left: 50%;
        border-radius: 50%;
        bottom: -4px;
        pointer-events: none;
        transform: scale(0);
        transition: $ts;
    }
    .active .nav-link::after {
        transform: scale(1);
    }
    .nav-item:hover {
        .nav-link::after {
            transform: scale(1.5);
        }
        .nav-link {
            color: $color-pink-1 !important;
        }
    }

    .header__contact {
        padding-top: 0;
        padding-left: 30px;
    }
    .header__social-icon {
        padding-top: 0;
    }
    .header__contact-cell {
        display: flex;
        align-items: center;
    }
    .header__phone {
        padding-right: 10px;
    }
}
